/* common style */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;

}

.description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn {
    border-radius: 5px;
    padding: 20px 25px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: right;

}

.bg-primary {
    background-color: #F15B22;
}

/* header style */
header {
    width: 100vw;
    height: 80vh;
    background-image: url(./images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.banner {
    height: 70vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 50%;
    padding-right: 230px;
}

.banner-description {
    padding: 25px 0 32px 0;
}

.banner-btn {
    text-align: right;
}

.my-failure {

    width: 80vw;
    height: 80vh;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 90px;


}

.my-failure-title {
    font-size: 40px;
    text-align: left;
    padding-bottom: 10px;
}

.failure-des {
    text-align: left;
    padding: 10px 0;
}


.my-failure-descriptions ul {

    list-style: square inside url(./images/check-solid.svg);


}

.my-failure-descriptions ul li {}