/* common style */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;

}

.description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn {
    border-radius: 5px;
    padding: 20px 36px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: right;

}

.bg-primary {
    background-color: #F15B22;
}

/* header style */
header {
    height: 80vh;
    background-image: url(./images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}



.banner {
    height: 70vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 50%;
    padding-right: 230px;
}

.banner-description {
    padding: 25px 0 32px 0;
}

.banner-btn {
    text-align: right;
}

.my-failure {

    width: 80vw;
    height: 80vh;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 90px;
    border: 1px solid purple;

}

.my-failure-title {
    font-size: 40px;
    text-align: left;
    padding-bottom: 10px;
}

.failure-des {
    text-align: left;
    padding: 10px 0;
}


.my-failure-descriptions ul {

    list-style: square inside url(./images/check-solid.svg);


}

/* my plans  */

.my-plans {
    width: 60vw;
    /* height: 40vh; */

    margin: 6rem auto;
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
    border: 1px solid purple;
    text-align: center;
}

.my-plans h3 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;

}

.my-plans p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;

}

.positive-mindeset-section{
    width: 60vw;
    height: 30vh;
    margin: 6rem auto;
    border: 1px solid purple;
    background-image: url(./images/watch.png), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    background-blend-mode: overlay;
    border-radius: 8px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mindset-info{
    padding-top: 60px;
    padding-left:60px ;
}

.mindset-title{
    text-align: left;
    font-size: 40px;
    color: white;
    padding-bottom: 25px;
}

.mindset-btn{
color: #F15B22;
text-align: center;
font-size: 20px;
font-weight: 600;


}